### Propios
Anteproyecto_IESGranCapitan.odt
Atlas.code-workspace
00_Por_documentar.md

### Copiado y modificado de https://stackoverflow.com/a/57749909/15662904
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

public/test/*

*.cmd

atlas/composer.lock
atlas/package-lock.json
atlas/public/vendor/*

atlas-old/*
atlas-viejo/*